.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-bg);
    padding: 0.5rem 1rem;
    z-index: 999;
    box-shadow: 0 2px 8px var(--color-accent);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-icon:hover {
    transform:scale(1.1);
    filter: drop-shadow(0 0 12px var(--color-accent));
}

@media (max-width:600px) {
    .nav-icon{
        width: 20px;
        height: 20px;
    }
}

.nav-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 4px var(--color-light));
}
body {
    padding-top: 80px;
}

.nav-list li:hover {
    background-color: var(--color-light);
    border-radius: 8px;
    padding: 0.2rem;
    gap: 1rem;
}