:root {
  /*THEME COLORS */
  --color-bg: #2f0049;
  --color-primary: #5f03bd;
  --color-secondary: #8407ce;
  --color-accent: #df21ff;
  --color-light: #fe02ff;
  --color-text: #ccffe0;

  /*FONTS*/
  --font-header: 'Orbitron', sans-serif;
  --font-body: 'Lato', sans-serif;

}

body {
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 80px; 
}

a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-light);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-accent);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text);
    background-color: var(--color-bg);
  }
  a:hover {
    color: var(--color-secondary);
  }
  button {
    background-color: var(--color-primary);
  }
}
.about {
  background-color: var(--color-primary);
  padding: 2rem;
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  font-family: var(--font-body);
  box-shadow: 0 0 10px var(--color-secondary);
}
.projects {
  padding: 2rem;
  background-color: var(--color-bg);
  border-top: 2px solid var(--color-secondary);
  color: var(--color-light);
}

.project-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-card {
  background: var(--color-secondary);
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 10px var(--color-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px var(--color-accent);
}

html {
  scroll-behavior: smooth;
}
.fade-in {
  opacity: 0;
  animation: fadein ease 1.5s forwards;
}

@keyframes fadeIn {
  to{
    opacity:1;
  }
}

.hero-title {
  font-family: var(--font-header);
  font-size: 3.5rem;
  text-align: center;
  color: var(--color-accent);
  margin-top: 1rem;
  margin-bottom: 2rem;
}